<ion-view view-title="Browse">
<ion-content>
  <ion-list>
  <ion-item class="item">
      <div class="row row-center">
        <div class="col col-50">
          <span style="font-weight:bold">WICKED HERO</span>
        </div>
      <div class="col col-offset-10">
      <span style="font-size:12px;">Cmt P Pzt S Ç Per C</span>
    </div>
    </div>
      <div class="row">
      <img height="100" max-width="100%" ng-src="http://tt-prod-images.s3.amazonaws.com/prod/1431357311087_WICKED_Hero_640x200.jpg">
    </div>
  </ion-item>
  <ion-item>
      <div class="row row-center">
        <div class="col col-50">
          <span style="font-weight:bold">WICKED HERO</span>
        </div>
      <div class="col col-offset-10">
      <span style="font-size:12px;">Cmt P Pzt S Ç Per C</span>
    </div>
    </div>
      <div class="row">
      <img height="100" max-width="100%" ng-src="http://tt-prod-images.s3.amazonaws.com/prod/1431357311087_WICKED_Hero_640x200.jpg">
    </div>
  </ion-item>
</ion-list>
</ion-content>
</ion-view>
