<ion-view view-title="Event">
  <ion-content scroll="false">
    <div style="height:80%" class="row responsive-sm">
    <ion-scroll>
      <div class="row responsive-sm">
      <ion-slide-box style="height:250px;" on-slide-changed="slideChanged(index)" show-pager="true">
        <ion-slide style="width:100%;max-width:100%" ng-repeat="image in images">
          <img style="height:100%" ng-src="{{image}}"/>
        </ion-slide>
      </ion-slide-box>
    </div>
    <div class="row responsive-sm">
      <h2>{{event.eventDesc}}</h2>
    </div>
    </ion-scroll>
  </div>
  <div style="height:20%" class="row responsive-sm">
    <ion-scroll>
  <div class="list">
    <a ng-repeat="eventDate in eventDates" class="item item-icon-left item-icon-right" href="#">
      <i ng-if="eventDate.isEvening==true" class="icon ion-ios-moon-outline"></i>
      <i ng-if="eventDate.isEvening==false" class="icon ion-ios-sunny-outline"></i>
      <span style="font-size:12px;">{{eventDate.$id | amDateFormat:'DD MMMM dddd'}} {{eventDate.eventTime}}</span>
      <span class="item-note">
        <span style="font-weight:bold;color:#000000;">{{eventDate.eventMinPrice}} TL</span><i class="icon ion-chevron-right icon-accessory"></i>
    </span>

    </a>
  </div>
</ion-scroll>
</div>
  </ion-content>
</ion-view>
