<ion-view view-title="Events">
<ion-content>
  <a style="text-decoration: none; color: #000000;" item-height="150px" item-width="100%" collection-repeat="event in events" href="#/app/events/{{event.$id}}">
    <div class="row row-center">
      <div class="col col-50">
        <span style="font-weight:bold;">{{event.eventName}}</span>
      </div>
    <div class="col col-offset-10">
    <span style="font-size:12px;">Cmt P Pzt S Ç Per C</span>
  </div>
  </div>
    <div style="padding:0" class="row">
    <img style="height:120px" ng-src={{event.eventImageUrl}}>
  </div>
</a>
</ion-content>
</ion-view>
